<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
    <a href="/add"><button >NY FILM </button></a>
    <% @movies.each do |movie| %>
    <div class="movieBox">
            <h2><%=movie['name']%>
            <p>Release year: <%=movie['year']%></p>
            <p>IMDB: <%=movie['imdb_rating']%></p>
            <p>Runtime: <%=movie['runtime']%></p>
            <p>Genre<%=movie['genres'].split(',').length > 1 ? "s": ""%>: <%= movie['genres'].split(",").join(", ")%></p>
            <p>Streaming service<%=(movie['services'].split(",").length > 1 ? "s": "")%>: <%=movie['services'].split(",").join(", ")%></p>
    </div>
    <%end%>
</body>
</html>