<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=@movieinfo['name']%> - FlixMax</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
</head>
<body>
    <h2><%=movie['name']%>
    <p>Release year: <%=movie['year']%></p>
    <p>IMDB: <%=movie['imdb_rating']%></p>
    <p>Runtime: <%=movie['runtime']%></p>
    <p>Genre<%=movie['genres'].split(',').length > 1 ? "s": ""%>: <%= movie['genres'].split(",").join(", ")%></p>
    <p>Streaming service<%=(movie['services'].split(",").length > 1 ? "s": "")%>: <%=movie['services'].split(",").join(", ")%></p>

</body>
</html>