<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=@movieinfo['name']%> - FlixMax</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="biginfo"> 
        <div class="header"> 
        <h1>FlixMax</h1>
        </div>
        <div class="actualinfo">
            <h2><%=@movieinfo['name']%></h2>
            <p>Genre: <%=@movieinfo['genre']%> </p>
            <p id="">Year of release: <%=@movieinfo['year']%> </p>
            <div class=imdbstuff>
            <img src="/img/imdb.png" style="
            height: 28px;width:50px;" >
            <p id="imdbrating">: <%=@movieinfo['imdb_rating']%></p></div>
            <p>Runtime: <%=@movieinfo['runtime']%> mins</p>
            <p>Streaming Service: <%=@movieinfo['service']%></p>
        </div>
    </div>
</body>
</html>